extends ../shared/template/layout/_default

block vars
  -
    var title = 'text-slide'

block main
  .test
    .text-slide-wrap
      .text-slide-inner
        .text.current slide 1
        .text slide 2
        .text slide 3
