@import '../shared/styles/import';
@import '../shared/icons/css/icons';

$test: #fff;

.body {
  color: $test;
}

.text-slide-wrap {
  width: 100%;
  text-align: center;
}

@keyframes In {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.text-slide-inner {
  width: 100%;
  @include font-rem(24);
  height: 1.4em;
  overflow: hidden;
  position: relative;
}

.text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, -105%, 0);

  &.current {
    transform: translate3d(0, 0, 0);
  }
}
